<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p>Dear {{name}},</p>
    <p>Your booking at our property has been confirmed. Here are the details:</p>
    <ul>
        <li>Check-in date: {{dateCheckIn}}</li>
        <li>Check-out date: {{dateCheckOut}}</li>
        <li>Number of adults: {{adults}}</li>
        <li>Number of children: {{children}}</li>
        <li>Room: {{room}}</li>
        {{#if specialRequest}}
        <li>Special request: {{specialRequest}}</li>
        {{/if}}
    </ul>
    <p>Thank you for choosing our property. We look forward to seeing you soon.</p>
    <p>Pesto Booking System</p>
</body>
</html>
